.contenedor{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows:100px 80px 700px 200px; 
    grid-template-areas:"h h h h"
                        "izq t t der"
                        "izq c c der"
                        "f f f f"; 
                        background-image: url("../imagenes/Portada/fondo.jpg");
}
.cabecera{
grid-area: h;
background-image: url("../imagenes/Portada/footer1.png");
}
.contenido-registro{
  
    margin-top: 20px;
    
    grid-area: c;
    background-image: url("../imagenes/Portada/footer2.jpg");
 



}
#Cabecera{
    position: fixed;
    width: 100%;
    z-index: 99999;
  }
.titulo-registro hr{
border-bottom: 4px solid white;
}
.titulo-registro{
    grid-area: t;
    
    color: white;
    text-align: center;
    
    font-family: 'Amatic SC', cursive;
}
.footer{
  
    grid-area: f;
}
.registroSesion{
text-align: right;
width: 90%;
}
.fondoizq{
    grid-area: izq;
  
}
.fondoder{
    grid-area: der;
   
}
.registrar input{
    margin-top: 20px;
    width: 100px;

}
.password input,.nombre input, .apellidos input,.direccion input,.usuario input,.telefono input,.password2 input,.fecha input{ 
    width: 350px;
}
.password label,.nombre label, .apellidos label,.direccion label,.usuario label,.telefono label,.password2 label,.fecha label{
    margin-top: 20px;
    font-size: 30px;
    color: white;
}